<!DOCTYPE html>

<html lang="en-AU">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Lifeclock </title>
        <link rel="stylesheet" href="./styles/navbar.css">
        <link rel="stylesheet" href="./styles/home.css">
        <script type="text/javascript" src="./js/navbar.js"></script>
        <!-- <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/> -->
    </head>

    <body>

        <!-- Navigation Bar -->
        <ul class="navbar" id="navbar">
            <a style="font-size:15px;" class="icon" onclick="ExpandMobileMenu()">&#9776;</a>
            <li class="active" ><a href="/home">Lifeclock</a></li>
            <li><a href="/social">Social</a></li>
            <li class="dropdown">
                <a class="dropbtn" onclick=ExpandSubMenu()>Articles</a>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/workouts">Workouts</a>
                    <a href="/diets">Diets</a>
                    <a href="/health">Health</a>
                </div>
            </li>
            <li><a href="/goals">Goals</a></li>
            <li class="right" ><a href="/login">Logout</a></li>
        </ul>
        <div class="container">
        <div class="timer">
            <div>
              <span id="years"></span>
              <div class="smalltext">Years</div>
            </div>
            <div>
              <span id="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span id="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span id="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span id="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
        </div>
        </div>
        <p>Have a great day <%=user.fullName%>!</p>
    <div class="flex-container">
    <div class="flex-element"> 
    <form action="/updatehabits" method="post" class="form">
    <p>Smoking</p>
    <select name="smoking">
      <option disabled selected value>Smoking Frequency</option>
      <option value="0"<% if(user.smoking == 0) { %> <%= selected="selected" %> <% } %>>Never</option>
      <option value="1"<% if(user.smoking == 1) { %> <%= selected="selected" %> <% } %>>A pack every few weeks</option>
      <option value="2"<% if(user.smoking == 2) { %> <%= selected="selected" %> <% } %>>A pack or more a week</option>
    </select>
    <p>Height(cm)</p>
    <input type="number" name="height" class="input" min="1" value=<%= user.height %>>
    <p>Weight(kg)</p>
    <input type="number" name="weight" class="input" min="1" value=<%= user.weight %>>
    </div>
    <div class="flex-element">
    <p>Sleep</p>
    <select name="sleep">
      <option disabled selected value>Sleep Frequency</option>
      <option value="0" <% if(user.sleep == 0) { %> <%= selected="selected" %> <% } %>>8+ hours a day</option>
      <option value="1" <% if(user.sleep == 1) { %> <%= selected="selected" %> <% } %>>Less than 8 hours a day</option>
    </select>
    <p>Alchohol</p>
    <select name="alcohol">
      <option disabled selected value>Drink frequency</option>
      <option value="0"<% if(user.alcohol == 0) { %> <%= selected="selected" %> <% } %>>Never</option>
      <option value="1"<% if(user.alcohol == 1) { %> <%= selected="selected" %> <% } %>>Once a week</option>
      <option value="2"<% if(user.alcohol == 2) { %> <%= selected="selected" %> <% } %>>Multiple times in a week</option>
    </select>
    <br>
    <button type="button" class="button" onclick ="test()">Test</button>
    <button type="submit" class="button" onclick ="location.href='./home';">Update</button>
    </div>
  </form>
</div>
<script>
        // Set the date we're counting down to

        var userYear = 70 - <%=user.age%>  - <%=user.smoking%> - <%=user.sleep%> - <%=user.alcohol%>;
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDate();
        var countDownDate = new Date(year + userYear , month, day);

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var years = Math.floor(distance / (1000 * 60 * 60 * 24 * 365));
        var days = Math.floor((distance % (1000 * 60 * 60 * 24 * 365)) / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in an element with id="timer"
        document.getElementById("years").innerHTML = years;
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;


        // If the count down is finished, write some text
        if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "You're Still Here...";
        }
        }, 1000);


</script>
    </body>


</html>
